$color: #cacaca;
body {
  overflow-x: hidden;
}
.wrapper {
  margin: 0;
  position: relative;

  .notify {
    @keyframes fade-in {
      0% {
        opacity: 0;
        transform: scale(0);
      }
      100% {
        opacity: 1;
        transform: scale(1);
      }
    }
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 40%;
    animation: fade-in 1s ease-in-out forwards;
  }
  .slider-shop {
    @keyframes fade-in-top {
      from {
        opacity: 0;
        transform: translateY(-100%);
      }
      to {
        opacity: 1;
        transform: translateY(0%);
      }
    }
    width: 100%;
    height: 400px;
    background: #f9f9e4;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    color: #535252;
    animation: fade-in-top 1s ease-in-out forwards;
  }
  .main-shop {
    // padding: 100px 60px;
    display: flex;
    // justify-content: space-between;
    .categories {
      @keyframes fade-in-left {
        from {
          opacity: 0;
          transform: translateX(-100%);
        }
        to {
          opacity: 1;
          transform: translateX(0%);
        }
      }
      width: 400px;
      height: fit-content;
      background-color: #f7f7f8;
      padding: 20px 40px;
      animation: fade-in-left 1s ease-in-out forwards;
      margin-top: 20px;
      // -----------
      .title {
        font-size: 24px;
        text-align: center;
        font-weight: 400;
        color: #393e46;
        letter-spacing: 1px;
      }
      // -----------
      .gach-ngang {
        width: 100%;
        height: 0.5px;
        background-color: #393e46;
        opacity: 0.2;
      }
      // // CSS FOR TYPE
      .type-categories {
        margin-bottom: 30px;
        .type-element {
          display: flex;
          align-items: center;
          padding-top: 30px;
          position: relative;
          input {
            width: 26px;
            height: 26px;
            border-radius: 10px;
            border: 1px solid #ddd;
            background-color: #fff;
            border-radius: 5px;
          }
          label {
            font-size: 20px;
            font-weight: 400;
            color: #393e46;
            opacity: 0.9;
            margin-left: 20px;
            transition: opacity 0.5s ease;
          }
          label:hover {
            opacity: 0.7;
            cursor: pointer;
          }
          span {
            font-size: 20px;
            font-weight: 400;
            color: #393e46;
            opacity: 0.9;
            position: absolute;
            right: 0;
          }
          // -----------

          // -----------
        }
      }
      // CSS FOR PRICE
      .price-categories {
        margin-top: 40px;

        .price-element {
          display: flex;
          flex-direction: column;
          margin-bottom: 30px;
          input {
            -webkit-appearance: none;
            appearance: none;
            background: transparent;
            cursor: pointer;
            width: 100%;
          }

          /* Removes default focus */
          input:focus {
            outline: none;
          }

          /******** Chrome, Safari, Opera and Edge Chromium styles ********/
          /* slider track */
          input::-webkit-slider-runnable-track {
            background-color: #add8e6;
            border-radius: 0.5rem;
            height: 10px;
          }

          /* slider thumb */
          input::-webkit-slider-thumb {
            -webkit-appearance: none; /* Override default look */
            appearance: none;
            margin-top: -5px; /* Centers thumb on the track */
            background-color: #808080;
            border-radius: 100%;
            height: 20px;
            width: 20px;
          }

          input:focus::-webkit-slider-thumb {
            outline: 3px solid #808080;
            outline-offset: 0.125rem;
          }

          /*********** Firefox styles ***********/
          /* slider track */
          input::-moz-range-track {
            background-color: #add8e6;
            border-radius: 0.5rem;
            height: 10px;
          }

          /* slider thumb */
          input::-moz-range-thumb {
            background-color: #808080;
            border: none; /*Removes extra border that FF applies*/
            border-radius: 100%;
            height: 20px;
            width: 20px;
          }

          input:focus::-moz-range-thumb {
            outline: 3px solid #808080;
            outline-offset: 0.125rem;
          }
          label {
            font-size: 20px;
            font-weight: 400;
            color: #393e46;
            opacity: 0.9;
            margin-top: 20px;
            transition: opacity 0.5s ease;
          }
          label:hover {
            opacity: 0.7;
            cursor: pointer;
          }
          button {
            margin-top: 10px;
            align-self: center;
            width: 150px;
            height: 50px;
            border-radius: 10px;
            border: none;
            font-size: 20px;
            letter-spacing: 1px;
            color: #393e46;
            opacity: 0.9;
            display: inline-block;
            background-color: #f9f9e4;
            border-radius: 10rem;

            text-transform: uppercase;
            font-size: 1rem;
            letter-spacing: 0.15rem;
            transition: all 0.3s;
            position: relative;
            overflow: hidden;
            z-index: 1;
            &:after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: $color;
              border-radius: 10rem;
              z-index: -2;
            }
            &:before {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              width: 0%;
              height: 100%;
              background-color: darken($color, 15%);
              transition: all 0.3s;
              border-radius: 10rem;
              z-index: -1;
            }
            &:hover {
              color: #fff;
              &:before {
                width: 100%;
              }
            }
          }
        }
      }
    }
    .list-Products {
      width: 71%;
      @keyframes fade-in-right {
        from {
          opacity: 0;
          transform: translateX(100%);
        }
        to {
          opacity: 1;
          transform: translateX(0%);
        }
      }
      padding: 0 20px;
      display: flex;
      flex-direction: column;
      animation: fade-in-right 1s ease-in-out forwards;

      .sort-Bar {
        width: 102%; // màn hình bạn bị lỏ mấy bản down về thì sửa thành 100% cho đẹp nhen
        height: 80px;
        background-color: #f7f7f8;
        display: flex;
        align-items: center;
        position: relative;
        padding: 10px;
        border-radius: 10px;
        margin-top: 20px;
        button {
          font-size: 30px;
          height: 80%;
          width: 60px;
          border: none;
          border-radius: 10px;
          margin-right: 10px;
        }
        h1 {
          font-size: 18px;
          margin-bottom: 0;
          color: #393e46;
          opacity: 0.9;
          span {
            margin-left: 5px;
          }
        }
        .wrapper-select {
          width: 310px;
          height: 60px;
          padding: 10px;
          background-color: #ffffff;
          display: flex;
          align-items: center;
          color: #393e46;
          opacity: 0.9;
          border-radius: 10px;
          // margin-left: 180px;
          position: absolute;
          right: 10px;
          .sort-select {
            border: none;
            margin-left: 10px;
            color: #393e46;
            outline: none;
          }
          label {
            font-size: 20px;
          }
        }
      }
      .product-Item-list {
        margin-top: 20px;

        width: 102%;
        height: fit-content;
        background-color: #f7f7f8;
        border-radius: 10px;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
      }
      .controller-Page {
        align-self: center;
        margin-top: 30px;
        background-color: #f7f7f8;
        button {
          font-size: 20px;
          padding: 10px 20px;
          border: solid 1px #ccc;
          color: #393e46;
          border-radius: 2px;
          opacity: 0.9;
          transition: background-color 0.5s ease, color 0.5s ease;
        }
        button:hover {
          background-color: #393e46;
          color: #f7f7f8;
        }
      }
    }
  }
  .footer {
    width: 100%;
  }
}
